[submodule "mmdeploy"]
	path = mmdeploy
	url = https://github.com/open-mmlab/mmdeploy.git
	ignore = dirty
[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/open-mmlab/mmdetection.git
	ignore = dirty
[submodule "mmdetection3d"]
	path = mmdetection3d
	url = https://github.com/open-mmlab/mmdetection3d.git
	ignore = dirty
[submodule "mmcv"]
	path = mmcv
	url = https://github.com/open-mmlab/mmcv.git
	ignore = dirty
